*{
    margin: 0;
    padding: 0;
}
/* index inicia */
.enlaces{
    text-decoration: none;
}

.fotoperfil{
    height: 100%;
    object-fit: cover;
}
/* index finaliza */



/* sobre mi y trabajos */
.jumbotron{
    height: 400px;
    width: 100%;
    background-image: url(./img/jumbotron.jpg);
    background-position: center;
    background-size: cover;
    text-shadow: 4px 4px 4px black;
    align-items: center;
    justify-content: center;

}
/* sobre mi y trabajos */

/* sobre mi inicia */
.imagen{
    width: auto;
    height: 400px;
}

.imagen1{
    background-image: url(./img/tiendaropaminorista.avif);
    background-position: center;
    background-size: cover;
}
.imagen2{
    background-image: url(./img/css.png);
    background-position: center;
    background-size: cover;
}
.imagen3{
    background-image: url(./img/desarrolloweb.jpeg);
    background-position: center;
    background-size: cover;
}
.imagen4{
    background-image: url(/img/diseñografico.jpeg);
    background-position: center;
    background-size: cover;
}
.imagen5{
    background-image: url(./img/fundicion.jpeg);
    background-position: center;
    background-size: cover;
}
.imagen6{
    background-image: url(./img/gavanoplastia.jpeg);
    background-position: center;
    background-size: cover;
}
.imagen7{
    background-image: url(./img/hotfix.jpeg);
    background-position: center;
    background-size: cover;
}

/* sobre mi termina */

/* trabajos inicia */
article{
    width: 100%;
    height: 300px;
}

#gelria .col-lg-3{
    padding: 20px;
}

.job-1{
    background-image: url(./img/job1.webp);
    background-position: center;
    background-size: cover;
}
.job-2{
    background-image: url(./img/job2.jpeg);
    background-position: center;
    background-size: cover;
}
.job-3{
    background-image: url(./img/job3.jpeg);
    background-position: center;
    background-size: cover;
}
.job-4{
    background-image: url(./img/job4.jpg);
    background-position: center;
    background-size: cover;
}
.job-5{
    background-image: url(./img/job5.png);
    background-position: center;
    background-size: cover;
}
.job-6{
    background-image: url(./img/job6.jpeg);
    background-position: center;
    background-size: cover;
}
.job-7{
    background-image: url(./img/job7.png);
    background-position: center;
    background-size: cover;
}
.job-8{
    background-image: url(./img/job8.jpeg);
    background-position: center;
    background-size: cover;
}

/* trabajos termina */

/* servicios inicia */

.img{
    width: 100%;
    height: 300px;
}

.img-1{
    background-image: url(./img/backend.avif);
    background-position: center;
    background-size: cover;
}
.img-2{
    background-image: url(./img/branding.webp);
    background-position: center;
    background-size: cover;
}
.img-3{
    background-image: url(./img/uxui.jpeg);
    background-position: center;
    background-size: cover;
}
.img-4{
    background-image: url(./img/consultoria.webp);
    background-position: center;
    background-size: cover;
}

/* servicios termina */

/* contacto inicia */
/* contacto termina */